$main-color: #ff6060;
$grey: #f6f6f6;

// REGULAR FONT //
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-Thin.ttf');
  font-weight: 100;
}
// ITALIC FONT //
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-ExtraLightItalic.ttf');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url('./../fonts/Montserrat-ThinItalic.ttf');
  font-style: italic;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: 'Montserrat';
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: auto 0;
  background-color: #000;
  color: #ffff;

  .footer__logo {
    width: 122px;
    fill: #ffff;
    padding-top: 69px;
    padding-bottom: 29px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1240px;
  margin: 50px auto;
  .nav__links {
    display: inline;
    margin-left: 56px;
  }
}

a {
  color: $main-color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.banner {
  position: relative;

  .banner__img {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
  }

  .banner__location__img {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }

  .banner__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -90%);
    text-align: right;
    color: #ffff;
    font-size: 48px;
    font-weight: 500;
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  }
}

.main {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto 50px auto;
}

//CARD
.card__layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $grey;
  border-radius: 25px;
  padding: 25px;
  margin-top: 43px;

  .card__link {
    text-decoration: none;
  }

  .card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin: 25px;
    color: #ffff;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    .card__img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    .card__title {
      z-index: 2;
      position: relative;
      width: 220px;
      left: 20px;
      bottom: 55px;
      font-weight: 700;
      padding-left: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .card__title:hover {
      transition: background-color 0.5s ease;
      background-color: $main-color;
    }
  }
}

//ERROR PAGE
.main__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 149px;
  color: $main-color;

  h3 {
    font-size: 288px;
    font-weight: bold;
    line-height: 0px;
  }

  p {
    font-size: 36px;
  }

  a {
    font-size: 18px;
    text-decoration: underline;
  }
}

//LOCATION PAGE
.location {
  color: $main-color;

  .location__intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .location__intro__reference {
      font-size: 18px;

      h3 {
        font-size: 36px;
        font-weight: 500;
        line-height: 0px;
      }
    }
  }

  .location__host {
    display: flex;
    align-items: center;
    text-align: right;

    img {
      width: 64px;
      height: 64px;
      border-radius: 100%;
      padding-left: 10px;
    }

    p {
      line-height: 8px;
    }
  }

  .location__attributes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    //TAGS
    .tags__layout {
      display: flex;
      flex-direction: row;

      .tag {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffff;
        background-color: $main-color;
        border-radius: 10px;
        text-align: center;
        margin-right: 10px;
        padding: 3px 23px;
      }
    }
  }
}

//SLIDER
.inner__slider {
  width: 1240px;
  height: 415px;
  position: relative;

  .slider__img {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }

  .slider__pagination {
    position: absolute;
    top: 90%;
    left: 50%;
    color: #ffff;
    font-size: 20px;
  }

  .right__arrow,
  .left__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    width: 80px;
  }

  .right__arrow {
    right: 35px;
  }

  .left__arrow {
    left: 35px;
  }
}

//COLLAPSE
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.collapse {
  width: 582px;

  .collapse__name__container {
    position: relative;
    background-color: $main-color;
    border-radius: 10px;

    .collapse__name {
      text-transform: capitalize;
      color: #ffff;
      padding: 10px;
      margin: 0;
    }

    img {
      position: absolute;
      width: 24px;
      transform: rotate(90deg);
      transition: transform 0.4 ease-in-out;
      top: 15%;
      right: 3%;
      cursor: pointer;
    }
  }

  .details__collapse {
    background-color: $grey;
    border-radius: 0 0 10px 10px;
    line-height: 143%;
    text-align: justify;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;

    .inner__details__collapse {
      padding: 20px;
      margin: 0;
      margin: 0;

      li {
        list-style: none;
      }
    }
  }

  .details__collapse-open {
    max-height: 1020px;
  }

  .details__collapse-closed {
    max-height: 0;
  }
}
