$main-color: #ff6060;
$beige: #eceae464;

$breakpoints: (
  'phone': 375px,
  'tablet': 768px,
  'desktop': 1440px
);

@mixin media-min($_key) {
  @media screen and (min-width: map-get($breakpoints, $_key)) {
    & {
      @content;
    }
  }
}
